{% load charts %}
<h1>GChartWrapper Templatetags</h1>
In view, load the data into context:
<pre>
def chart(request):
    return render_to_response('charts/chart.html',{
        'ds1':[[10, 50, 60, 80, 40],[50, 60, 100, 40, 20]],
        'ds2':[ [77,66,15,0,31,48,100,77],[20,36,100,2,0,100] ],
        'mycolor': '0000ff',
        'myval':10,
        'mydata':[
            [0,30,60,70,90,95,100], # x values
            [20,30,40,50,60,70,80], # y values, etc.
            [10,30,40,45,52],
            [100,90,40,20,10],
            ['-1'], # domain not found, interpolated (strings avoid datascaling)
            [5,33,50,55,7],
        ]})
</pre>
        

In template, <pre>&#123;% load charts %&#125; </pre> then try out some charts using the data you loaded:
<table border="1"><tr>
<tr><th>Simple</th><td>{% chart  GChart   %}
{% type pie  %}
{% dataset  helloworld   %}
{% size 250 100  %}
{% endchart %} </td><td><pre> &#123;% chart  GChart   %&#125;
&#123;% type pie  %&#125;
&#123;% dataset  helloworld   %&#125;
&#123;% size 250 100  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Title</th><td>{% chart  Line  GurMrabsClgubaolGvzCrgrefOrnhgvshyvforggregunahtyl   %}
{% title 'The Zen of Python' 00cc00 36  %}
{% color 00cc00  %}
{% endchart %} </td><td><pre> &#123;% chart  Line  GurMrabsClgubaolGvzCrgrefOrnhgvshyvforggregunahtyl   %&#125;
&#123;% title 'The Zen of Python' 00cc00 36  %&#125;
&#123;% color 00cc00  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Line</th><td>{% chart  Line  hX1xPj   %}
{% axes type xy  %}
{% axes label Mar  Apr  May  June  July  %}
{% axes label None  50+Kb  %}
{% color ff0000  %}
{% line 6 5 2  %}
{% endchart %} </td><td><pre> &#123;% chart  Line  hX1xPj   %&#125;
&#123;% axes type xy  %&#125;
&#123;% axes label Mar  Apr  May  June  July  %&#125;
&#123;% axes label None  50+Kb  %&#125;
&#123;% color ff0000  %&#125;
&#123;% line 6 5 2  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Multiline</th><td>{% chart  LineXY   mydata %}
{% color 3072F3 ff0000 00aaaa  %}
{% marker s FF0000 0 -1 5  %}
{% marker s 0000ff 1 -1 5  %}
{% marker s 00aa00 2 -1 5  %}
{% line 2 4 1  %}
{% endchart %} </td><td><pre> &#123;% chart  LineXY  mydata %&#125;
&#123;%  scale 0 100 %&#125;
&#123;% color 3072F3 ff0000 00aaaa  %&#125;
&#123;% marker s FF0000 0 -1 5  %&#125;
&#123;% marker s 0000ff 1 -1 5  %&#125;
&#123;% marker s 00aa00 2 -1 5  %&#125;
&#123;% line 2 4 1  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Bar</th><td>{% chart  HorizontalBarGroup  hell orld   %}
{% color cc0000  00aa00  %}
{% bar 10 5 10  %}
{% endchart %} </td><td><pre> &#123;% chart  HorizontalBarGroup  hell orld   %&#125;
&#123;% color cc0000  00aa00  %&#125;
&#123;% bar 10 5 10  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Pie</th><td>{% chart  Pie3D  1 2 3 4   %}
{% label A B C D  %}
{% color 00dd00  %}
{% endchart %} </td><td><pre> &#123;% chart  Pie3D  1 2 3 4   %&#125;
&#123;% label A B C D  %&#125;
&#123;% color 00dd00  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Venn</th><td>{% chart  Venn  100 80 60 30 30 30 10  encoding=text  %}
{% scale 0 100  %}
{% endchart %} </td><td><pre> &#123;% chart  Venn  100 80 60 30 30 30 10  encoding=text  %&#125;
&#123;% scale 0 100  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Axes</th><td>{% chart  Line  foobarbaz   %}
{% color 76A4FB  %}
{% axes type xyrx  %}
{% axes label Foo  Bar  Baz  %}
{% axes label None  20K  60K  100K  %}
{% axes label A  B  C  %}
{% axes label None 20 40 60 80  %}
{% axes style 0000dd  14  %}
{% endchart %} </td><td><pre> &#123;% chart  Line  foobarbaz   %&#125;
&#123;% color 76A4FB  %&#125;
&#123;% axes type xyrx  %&#125;
&#123;% axes label Foo  Bar  Baz  %&#125;
&#123;% axes label None  20K  60K  100K  %&#125;
&#123;% axes label A  B  C  %&#125;
&#123;% axes label None 20 40 60 80  %&#125;
&#123;% axes style 0000dd  14  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Grid</th><td>{% chart  Line  foobarbaz   %}
{% color 76A4FB  %}
{% line 3 6 3  %}
{% grid 20.0 25.0 1 0  %}
{% endchart %} </td><td><pre> &#123;% chart  Line  foobarbaz   %&#125;
&#123;% color 76A4FB  %&#125;
&#123;% line 3 6 3  %&#125;
&#123;% grid 20.0 25.0 1 0  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Markers</th><td>
{% chart  Line  helloWorldZZZZ098236561   %}
{% marker c ff0000 0 1 20  %}
{% marker d 80C65A 0 6 15  %}
{% marker o FF9900 0 4.0 20.0  %}
{% marker s 3399CC 0 5.0 10.0  %}
{% marker v BBCCED 0 6.0 1.0  %}
{% marker V 3399CC 0 7.0 1.0  %}
{% marker x FFCC33 0 8.0 20.0  %}
{% marker h 000000 0 0.30 0.5   %}
{% marker a 000099 0 4 10  %}
{% marker R A0BAE9 0 8 0.6  %}
{% marker r E5ECF9 0 1 0.25  %}
{% endchart %} </td><td><pre> &#123;% chart  Line  helloWorldZZZZ098236561   %&#125;
&#123;% marker c ff0000 0 1 20  %&#125;
&#123;% marker d 80C65A 0 6 15  %&#125;
&#123;% marker o FF9900 0 4.0 20.0  %&#125;
&#123;% marker s 3399CC 0 5.0 10.0  %&#125;
&#123;% marker v BBCCED 0 6.0 1.0  %&#125;
&#123;% marker V 3399CC 0 7.0 1.0  %&#125;
&#123;% marker x FFCC33 0 8.0 20.0  %&#125;
&#123;% marker h 000000 0 0.30 0.5   %&#125;
&#123;% marker a 000099 0 4 10  %&#125;
&#123;% marker R A0BAE9 0 8 0.6  %&#125;
&#123;% marker r E5ECF9 0 1 0.25  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Fill</th><td>{% chart  Line  pqokeYONOMEBAKPOQVTXZdecaZcglprqxuux393ztpoonkeggjp   %}
{% color ff0000  %}
{% line 4 3 0  %}
{% axes type xy  %}
{% axes label 1 2 3 4 5  %}
{% axes label None 50 100  %}
{% fill c lg 45 ffffff 0 76A4FB 0.75  %}
{% fill bg s EFEFEF  %}
{% endchart %} </td><td><pre> &#123;% chart  Line  pqokeYONOMEBAKPOQVTXZdecaZcglprqxuux393ztpoonkeggjp   %&#125;
&#123;% color ff0000  %&#125;
&#123;% line 4 3 0  %&#125;
&#123;% axes type xy  %&#125;
&#123;% axes label 1 2 3 4 5  %&#125;
&#123;% axes label None 50 100  %&#125;
&#123;% fill c lg 45 ffffff 0 76A4FB 0.75  %&#125;
&#123;% fill bg s EFEFEF  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Legend</th><td>{% chart  Line  FOETHECat leafgreen IRON4YOUs   %}
{% color ff0000 00ff00 0000ff  %}
{% legend Animals Vegetables Minerals  %}
{% axes type y  %}
{% endchart %} </td><td><pre> &#123;% chart  Line  FOETHECat leafgreen IRON4YOUs   %&#125;
&#123;% color ff0000 00ff00 0000ff  %&#125;
&#123;% legend Animals Vegetables Minerals  %&#125;
&#123;% axes type y  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Hvz</th><td>{% chart  VerticalBarGroup  31 59 4  encoding=text   %}
{% scale 0 59  %}
{% color 00ff00 ff0000 0000ff  %}
{% legend Goucher  Truman Kansas  %}
{% fill c lg 45 cccccc 0 000000 1  %}
{% fill bg s cccccc  %}
{% size 200 100  %}
{% endchart %} </td><td><pre> &#123;% chart  VerticalBarGroup  31 59 4  encoding=text   %&#125;
&#123;% scale 0 59  %&#125;
&#123;% color 00ff00 ff0000 0000ff  %&#125;
&#123;% legend Goucher  Truman  Kansas    %&#125;
&#123;% fill c lg 45 cccccc 0 000000 1  %&#125;
&#123;% fill bg s cccccc  %&#125;
&#123;% size 200 100  %&#125;
&#123;% endchart %&#125; </pre></td></tr>

<tr><th>Guide-Intro</th><td>{% chart  Pie3D 60 40  encoding=text  %}
{% size 250 100  %}
{% label Hello  World  %}
{% endchart %} </td><td><pre> &#123;% chart  Pie3D 60 40  encoding=text  %&#125;
&#123;% size 250 100  %&#125;
&#123;% label Hello  World  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Granularity-20</th><td>{% chart  Line fohmnytenefohmnytene  encoding=simple  %}
{% size 200 100  %}
{% axes type xy  %}
{% axes label April May June  %}
{% axes label None  50+Kb  %}
{% endchart %} </td><td><pre> &#123;% chart  Line fohmnytenefohmnytene  encoding=simple  %&#125;
&#123;% size 200 100  %&#125;
&#123;% axes type xy  %&#125;
&#123;% axes label April May June  %&#125;
&#123;% axes label None  50+Kb  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Granularity-40</th><td>{% chart  Line frothsmzndyoteepngenfrothsmzndyoteepngen  encoding=simple  %}
{% size 200 100  %}
{% axes type xy  %}
{% axes label April May June  %}
{% axes label None  50+Kb  %}
{% endchart %} </td><td><pre> &#123;% chart  Line frothsmzndyoteepngenfrothsmzndyoteepngen  encoding=simple  %&#125;
&#123;% size 200 100  %&#125;
&#123;% axes type xy  %&#125;
&#123;% axes label April May June  %&#125;
&#123;% axes label None  50+Kb  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Granularity-80</th><td>{% chart  Line formostthisamazingdayfortheleapinggreenlformostthisamazingdayfortheleapinggreenl  encoding=simple  %}
{% size 200 100  %}
{% axes type xy  %}
{% axes label April May June  %}
{% axes label None  50+Kb  %}
{% endchart %} </td><td><pre> &#123;% chart  Line formostthisamazingdayfortheleapinggreenlformostthisamazingdayfortheleapinggreenl  encoding=simple  %&#125;
&#123;% size 200 100  %&#125;
&#123;% axes type xy  %&#125;
&#123;% axes label April May June  %&#125;
&#123;% axes label None  50+Kb  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Line-Lc</th><td>{% chart  Line fooZaroo  encoding=simple  %}
{% size 200 100  %}
{% endchart %} </td><td><pre> &#123;% chart  Line fooZaroo  encoding=simple  %&#125;
&#123;% size 200 100  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Sparkline</th><td>{% chart  Sparkline 27 25 25 25 25 27 100 31 25 36 25 25 39 25 31 25 25 25 26 26 25 25 28 25 25 100 28 27 31 25 27 27 29 25 27 26 26 25 26 26 35 33 34 25 26 25 36 25 26 37 33 33 37 37 39 25 25 25 25  %}
{% encoding text  %}
{% color 0077CC  %}
{% size 200 40  %}
{% marker B  E6F2FA 0 0 0  %}
{% line 1 0 0  %}
{% endchart %} </td><td><pre> &#123;% chart  Sparkline 27 25 25 25 25 27 100 31 25 36 25 25 39 25 31 25 25 25 26 26 25 25 28 25 25 100 28 27 31 25 27 27 29 25 27 26 26 25 26 26 35 33 34 25 26 25 36 25 26 37 33 33 37 37 39 25 25 25 25  %&#125;
&#123;% encoding text  %&#125;
&#123;% color 0077CC  %&#125;
&#123;% size 200 40  %&#125;
&#123;% marker B  E6F2FA 0 0 0  %&#125;
&#123;% line 1 0 0  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Bhs</th><td>{% chart  HorizontalBarStack ello  encoding=simple  %}
{% color 4d89f9  %}
{% size 200 125  %}
{% endchart %} </td><td><pre> &#123;% chart  HorizontalBarStack ello  encoding=simple  %&#125;
&#123;% color 4d89f9  %&#125;
&#123;% size 200 125  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Bvs</th><td>{% chart  VerticalBarStack  ds1   encoding=text  %}
{% color 4d89f9  c6d9fd  %}
{% size 200 125  %}
{% endchart %} </td><td><pre> &#123;% chart  VerticalBarStack  ds1   encoding=text  %&#125;
&#123;% color 4d89f9  c6d9fd  %&#125;
&#123;% size 200 125  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Bvs-Scale</th><td>{% chart  VerticalBarStack  ds1   encoding=text  %}
{% color 4d89f9  c6d9fd  %}
{% size 200 125  %}
{% scale 0 160  %}
{% endchart %} </td><td><pre> &#123;% chart  VerticalBarStack  ds1   encoding=text  %&#125;
&#123;% color 4d89f9  c6d9fd  %&#125;
&#123;% size 200 125  %&#125;
&#123;% scale 0 160  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Bhg</th><td>{% chart  HorizontalBarGroup el or  encoding=simple  %}
{% color 4d89f9 c6d9fd  %}
{% size 200 125  %}
{% endchart %} </td><td><pre> &#123;% chart  HorizontalBarGroup el or  encoding=simple  %&#125;
&#123;% color 4d89f9 c6d9fd  %&#125;
&#123;% size 200 125  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Bvg</th><td>{% chart  VerticalBarGroup hello world  encoding=simple  %}
{% color 4d89f9 c6d9fd  %}
{% size 200 125  %}
{% endchart %} </td><td><pre> &#123;% chart  VerticalBarGroup hello world  encoding=simple  %&#125;
&#123;% color 4d89f9 c6d9fd  %&#125;
&#123;% size 200 125  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Chbh-Clipped</th><td>{% chart  HorizontalBarStack hello  encoding=simple  %}
{% color 4d89f9  %}
{% size 200 125  %}
{% endchart %} </td><td><pre> &#123;% chart  HorizontalBarStack hello  encoding=simple  %&#125;
&#123;% color 4d89f9  %&#125;
&#123;% size 200 125  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Chbh-Size</th><td>{% chart  HorizontalBarStack hello  encoding=simple  %}
{% color 4d89f9  %}
{% size 200 125  %}
{% bar_height 10  %}
{% endchart %} </td><td><pre> &#123;% chart  HorizontalBarStack hello  encoding=simple  %&#125;
&#123;% color 4d89f9  %&#125;
&#123;% size 200 125  %&#125;
&#123;% bar_height 10  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Radar</th><td>{% chart  Radar  ds2   encoding=text  %}
{% size 200 200  %}
{% color FF0000 FF9900  %}
{% line 2 4 0  %}
{% line 2 4 0  %}
{% axes type x  %}
{% axes label 0 45 90 135 180 225 270 315  %}
{% axes range 0 360  %}
{% endchart %} </td><td><pre> &#123;% chart  Radar  77 66 15 0 31 48 100 77 20 36 100 2 0 100   encoding=text  %&#125;
&#123;% size 200 200  %&#125;
&#123;% color FF0000 FF9900  %&#125;
&#123;% line 2 4 0  %&#125;
&#123;% line 2 4 0  %&#125;
&#123;% axes type x  %&#125;
&#123;% axes label 0 45 90 135 180 225 270 315  %&#125;
&#123;% axes range 0 360  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Map</th><td>{% chart  Map fSGBDQBQBBAGABCBDAKLCDGFCLBBEBBEPASDKJBDD9BHHEAACAC  encoding=simple  %}
{% color f5f5f5 edf0d4 6c9642 365e24 13390a  %}
{% fill bg s eaf7fe  %}
{% size 440 220  %}
{% map usa  NYPATNWVNVNJNHVAHIVTNMNCNDNELASDDCDEFLWAKSWIORKYMEOHIAIDCTWYUTINILAKTXCOMDMAALMOMNCAOKMIGAAZMTMSSCRIAR  %}
{% endchart %} </td><td><pre> &#123;% chart  Map fSGBDQBQBBAGABCBDAKLCDGFCLBBEBBEPASDKJBDD9BHHEAACAC  encoding=simple  %&#125;
&#123;% color f5f5f5 edf0d4 6c9642 365e24 13390a  %&#125;
&#123;% fill bg s eaf7fe  %&#125;
&#123;% size 440 220  %&#125;
&#123;% map usa  NYPATNWVNVNJNHVAHIVTNMNCNDNELASDDCDEFLWAKSWIORKYMEOHIAIDCTWYUTINILAKTXCOMDMAALMOMNCAOKMIGAAZMTMSSCRIAR  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
<tr><th>Guide-Meter</th><td>{% chart  Meter 70 encoding=text %}
{% label Hello  %}
{% size 225 125  %}
{% endchart %} </td><td><pre> &#123;% chart  Meter 70  %&#125;
&#123;% label Hello  %&#125;
&#123;% size 225 125  %&#125;
&#123;% endchart %&#125; </pre></td></tr>

<tr><th>QR Code</th><td>{% chart  QRCode %}
{% label 'To the human eye QR Codes look like hieroglyphics, but they can be read by any device that has the appropriate software installed.' %}
{% output_encoding UTF-8 %}
{% level_data M 8 %}
{% size 250 250  %}
{% endchart %} </td><td><pre>&#123; chart  QRCode &#125;
&#123; label 'To the human eye QR Codes look like hieroglyphics, but they can be read by any device that has the appropriate software installed.' &#125;
&#123; output_encoding UTF-8 &#125;
&#123; level_data M 8 &#125;
&#123; size 250 250  &#125; 
&#123; endchart &#125; </pre></td></tr>
            
<tr><th>Jacobian</th><td>
{% chart  Line ALAtBmC1EcGYIsLWOXRuVdZhd9ivn4tYzO5b.. encoding=extended  %}
{% size 300 200  %}
{% color cc0000  %}
{% fill c s eeeeee  %}
{% legend Sweet  %}
{% endchart %} </td><td><pre> &#123;% chart  Line ALAtBmC1EcGYIsLWOXRuVdZhd9ivn4tYzO5b.. encoding=extended  %&#125;
&#123;% size 300 200  %&#125;
&#123;% color cc0000  %&#125;
&#123;% fill c s eeeeee  %&#125;
&#123;% legend Sweet  %&#125;
&#123;% endchart %&#125; </pre></td></tr>
             

</table>
