{% load charts %}

<p> hvz
{%  chart bvg  31 59 4  %}
{%  scale 59   %}
{%  color 00ff00 ff0000 0000ff   %}
{%  legend 'Goucher 31'  'Truman 59'  'Kansas 4'    %}
{%  fill c lg 45 cccccc 0 000000 1   %}
{%  fill bg s cccccc   %}
{%  size 200 100   %}
{% endchart %} </p>

<p> simple
{%  chart   %}
{%  type pie   %}
{%  dataset hW   %}
{%  size 250 100   %}
{% endchart %} </p>

<p> title
{%  chart lc GurMrabsClgubaolGvzCrgrefOrnhgvshyvforggregunahtyl  %}
{%  title 'The Zen of Python' 00cc00 36   %}
{%  color 00cc00   %}
{% endchart %} </p>

<p> line
{%  chart lc hX1xPj  %}
{%  axes type xy   %}
{%  axes label Mar  Apr  May  June  July   %}
{%  axes label None  50+Kb   %}
{%  color ff0000   %}
{%  line 6 5 2   %}
{% endchart %} </p>


<p> bar
{%  chart bhg  hell orld  %}
{%  color cc0000  00aa00   %}
{%  bar 10 5 10   %}
{% endchart %} </p>

<p> pie
{%  chart p3  range 1 5   %}
{%  label A B C D   %}
{%  color 00dd00   %}
{% endchart %} </p>

<p> venn
{%  chart v  100 80 60 30 30 30 10  %}
{% endchart %} </p>

<p> axes
{%  chart lc foobarbaz  %}
{%  color 76A4FB   %}
{%  axes type xyrx   %}
{%  axes label Foo  Bar  Baz   %}
{%  axes label None  20K  60K  100K   %}
{%  axes label A  B  C   %}
{%  axes label None 20 40 60 80   %}
{%  axes style 0000dd  14   %}
{% endchart %} </p>

<p> grid
{%  chart lc foobarbaz  %}
{%  color 76A4FB   %}
{%  line 3 6 3   %}
{%  grid 20.0 25.0 1 0   %}
{% endchart %} </p>

<p> markers
{%  chart lc helloWorld  %}
{%  marker c ff0000 0 3 20   %}
{%  marker d 00ff00 0 6 15   %}
{%  marker a 000099 0 4 10   %}
{%  marker R A0BAE9 0 8 0.6   %}
{%  marker r E5ECF9 0 1 0.25   %}
{% endchart %} </p>

<p> fill
{%  chart lc pqokeYONOMEBAKPOQVTXZdecaZcglprqxuux393ztpoonkeggjp  %}
{%  color ff0000   %}
{%  line 4 3 0   %}
{%  axes type xy   %}
{%  axes label 1 2 3 4 5   %}
{%  axes label None 50 100   %}
{%  fill c lg 45 ffffff 0 76A4FB 0.75   %}
{%  fill bg s EFEFEF   %}
{% endchart %} </p>

<p> legend
{%  chart lc FOETHECat leafgreen IRON4YOUs  %}
{%  color ff0000 00ff00 0000ff   %}
{%  legend Animals Vegetables Minerals   %}
{%  axes type y   %}
{% endchart %} </p>



