<style>
code, pre {
color:#007000;
font-family:"Courier New",Courier,monospace;
font-size:0.8em;
}

p {
line-height:125%;
}
</style>
<script>
function setVisible(obj)
{
	obj = document.getElementById(obj);
	obj.style.visibility = (obj.style.visibility == 'visible') ? 'hidden' : 'visible';
	obj.style.position = (obj.style.position == 'relative') ? 'absolute' : 'relative';	
}
</script>




<center>
{% load charts %}
{% img chart %}
<br> 
<br> 
<form action="" method="POST">
     <input type="submit" name="save_chart" value="Save"><table><tr><td valign="top">
     <b>Python dataset</b><br><textarea name="data" cols="30" rows="15">{{ data }}</textarea>

     <br><b>Scale</b><br><input type="text" name="scale" value="{% if scale %}{{ scale }}{% endif %}">
     </td><td valign="top">
<b><a href="javascript:setVisible('cht');">Type</a></b><br><input type="text" name="cht" value="{{ cht }}"><br><br>
<b><a href="javascript:setVisible('chbh');">Bar width and spacing</a></b><br><input type="text" name="chbh" value="{{ chbh }}"><br><br>
<b><a href="javascript:setVisible('chtt');">Title</a></b><br><input type="text" name="chtt" value="{{ chtt }}"><br><br>
<b><a href="javascript:setVisible('chdl');">Legend labels</a></b><br><input type="text" name="chdl" value="{{ chdl }}"><br><br>
<b><a href="javascript:setVisible('chco');">Colors</a></b><br><input type="text" name="chco" value="{{ chco }}"><br><br>
<b><a href="javascript:setVisible('chd');">Datasets</a></b><br><input type="text" name="chd" value="{{ chd }}"><br><br>
</td><td valign="top">
<b><a href="javascript:setVisible('chs');">Size</a></b><br><input type="text" name="chs" value="{{ chs }}"><br><br>
<b><a href="javascript:setVisible('chf');">Fill</a></b><br><input type="text" name="chf" value="{{ chf }}"><br><br>
<b><a href="javascript:setVisible('chts');">Title style</a></b><br><input type="text" name="chts" value="{{ chts }}"><br><br>
<b><a href="javascript:setVisible('chl');">Labels</a></b><br><input type="text" name="chl" value="{{ chl }}"><br><br>
<b><a href="javascript:setVisible('chls');">Lines and thickness</a></b><br><input type="text" name="chls" value="{{ chls }}"><br><br>
<b><a href="javascript:setVisible('chm');">Markers</a></b><br><input type="text" name="chm" value="{{ chm }}"><br><br>
</td><td valign="top">
<b><a href="javascript:setVisible('chg');">Gridlines</a></b><br><input type="text" name="chg" value="{{ chg }}"><br><br>
<b><a href="javascript:setVisible('chxt');">Axes type</a></b><br><input type="text" name="chxt" value="{{ chxt }}"><div i
<b><a href="javascript:setVisible('chxl');">Axes labels</a></b><br><input type="text" name="chxl" value="{{ chxl }}"><br><br>
<b><a href="javascript:setVisible('chxr');">Axes range</a></b><br><input type="text" name="chxr" value="{{ chxr }}"><br><br>
<b><a href="javascript:setVisible('chxs');">Axes style</a></b><br><input type="text" name="chxs" value="{{ chxs }}"><br><br>
<b><a href="javascript:setVisible('chxp');">Axes position</a></b><br><input type="text" name="chxp" value="{{ chxp }}"><br><br>
</td></tr></table></form>


</center>

